#root {
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  padding: 2em;
  margin: 1rem;
  width: 20rem;
  height: 15rem;
  text-align: center;
}

.GridContainer {
  display: flex;
  margin-top: 1%
}

.logo {
  height: 4rem;
}

.logo:hover {
  background-color: rgb(72, 67, 67);
  box-shadow: 3px 3px 3px 3px rgb(134, 134, 211) ;
}

.ThreadsHeader {
  display: flex;
  justify-content: space-between;
  color: white
}

.icon-container {
  display: flex;
  justify-content: center;

}

.icon {
  height: auto;
  display: flex;
  justify-content: center;
}

.thread {
  margin-bottom: 1rem;
}

.thread:hover {
  background-color: rgb(227, 225, 225);
  box-shadow: 3px 3px 3px 3px rgb(134, 134, 211) ;
}

.ConversationsHead {
  margin-right: 1rem;
  color: white
}

.empty {
  height: 0px;
  width: 0px;
}

.login {
  background-color: white;
  margin-right: 1rem;
}
